# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / empaquetado
build/
dist/

# Logs
logs/*
!logs/.gitkeep

# Archivos exportados / resultados
output/*
!output/.gitkeep

# Temporales
*.log
*.tmp
*.bak

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/