# Entorno virtual
.venv/

# Python cache
__pycache__/
*.pyc

# Build
build/
dist/

# Logs
logs/*
!logs/.gitkeep

# Output
output/*
!output/.gitkeep

# Temporales
*.log

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db